<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flow_planet_layout">

    <application
        android:name=".db.DBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FLOW_PLANET_LAYOUT">
        <activity
            android:name=".activity.DebugActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PageViewerActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Reward_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Exprore_EndActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StudianActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ExproreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Space_Station_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.StatsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>